html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

@font-face {
    font-family: "PT Serif Bold";
    font-style: normal;
    font-weight: 700;
    src: local("PT Serif"),
    url("fonts/PTSerif-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PT Serif BoldItalic";
    font-style: italic;
    font-weight: 700;
    src: local("PT Serif"),
    url("fonts/PTSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Serif Italic";
    font-style: italic;
    font-weight: 400;
    src: local("PT Serif"),
    url("fonts/PTSerif-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    src: local("PT Serif"),
    url("fonts/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans Bold";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans"),
    url("fonts/PTSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans BoldItalic";
    font-style: italic;
    font-weight: 700;
    src: local("PT Sans"),
    url("fonts/PTSans-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans Italic";
    font-style: italic;
    font-weight: 400;
    src: local("PT Sans"),
    url("fonts/PTSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"),
    url("fonts/PTSans-Regular.ttf") format("truetype");
}

body{
    margin: 0;
    background: #F4F1EE;
}

.content-wrapper{
    margin: 0 5.715%;
}


/*HEADER*/
.header{
    width: 100%;
    height: 117px;
    background: 0;
}

.header-wrapper{
    width: available;
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger{
    background: url("assets/burger.svg") 26px 26px;
    width: 26px;
    height: 26px;
    display: none;
}

.burger-menu{
    display: none;
}

.burger-menu{
    position: absolute;
    left: 40px;
    top:10px;
    width: 300px;
    height: 200px;
    border-radius:10px;
    background: #F4F1EE;

}

.burger-active{
    display: flex;
    flex-direction: column;
}

.burger-link{
    text-decoration: none;
    font: 1.5em "PT Sans Bold", sans-serif;
    color: #000;
    margin: 10px 0 10px 40px;
}

.burger-link:active{
    color: #6090A6;
}

.header-logo{
    width: 160px;
    height: 57px;
}

.header-logo_link{
    height: 57px;
    margin-left: 6px;
}

.header-logo_link:hover {
    opacity: 70%;
}

.header-nav{
    width: 51%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav_link{
    font-family: "PT Serif", serif;
    color: #000;
    font-size:1.5em;
    line-height: 31.8px;
    text-decoration: none;
}

.active{
    color: #A67F50;
}

.header-nav_link:hover,
.header-nav_link:focus,
.header-nav_link:active{
    color:#A67F50;
    cursor: grab;
}

.basket-link{
    background: url("assets/basket-adaptive.svg") 26px 26px;
    width: 26px;
    height: 26px;
    display: none;
}

/*HEADER END*/

/*MAIN*/

.main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.filters{
    width: 28.4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font: 1.7rem "PT Sans", sans-serif;
    padding-left: 6%;
    /*background: rgba(242, 207, 165, 0.25);*/
    position: sticky;
    left: 0;
    top: 117px;
}

.filters label{
    margin-bottom: 20px;
}

.yarn-brands label:first-child{
    margin-bottom: 10px;
}

.yarn-brands{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 31px;
}

.disappear{
    display: none;
}


.cards{
    margin-right: 80px;
    width: 71.6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 10.4%;*/
    margin-bottom: 51px;
    /*position: relative;*/
}

.use-filter{
    display: none;
}

.card:hover img{
    opacity: 30%;
}

.card:hover .add-to-basket{
    visibility: visible;
    opacity: 100%;
}

.add-to-basket{
    width: 65px;
    height: 65px;
    background: url("assets/basket.svg");
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
    transition: visibility ease-in-out;
}

.add-to-basket:hover{
    background: url("assets/basket-active.svg");
}

.brand{
    margin: 20px 0 0;
    font: 1.5rem "PT Sans",sans-serif;
    color: #5D5D5D;
    line-height: 28.13px;
    text-decoration: none;
}

.model,
.price{
    margin: 0;
    font:1.5rem "PT Sans",sans-serif;
    color: #000;
    line-height: 31px;
    text-decoration: none;
}

.card:hover .brand,
.card:hover .model{
    color: #6090A6;
}

/*MAIN END*/

/*FOOTER*/

.footer{
    width:100%;
    height: 240px;
    background: #012E42;
    font-family: "PT Sans",sans-serif;
    color: #fff;
    margin-top: 70px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 240px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-nav_link{
    font-family: "PT Sans",sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin-bottom: 17px;
}

.footer-nav_link:first-child{
    font-family: "PT Sans Bold", sans-serif;
}

.footer-nav_link:last-child{
    margin-bottom: 0;
}

.footer-nav_link:hover{
    opacity: 70%;
}

.web-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 68px;
}

.web-link{
    width: 60px;
    height: 60px;
    margin-left: 54px;
}

.web-link:first-child{
    margin-left: 0;
}

.web-link:hover{
    opacity: 70%;
}

#twitter{
    background: url("assets/icon_twit.png");
}

#inst{
    background: url("assets/icon_instagram.png");
}

#facebook{
    background: url("assets/icon_facebook.png");
}

.footer-logo_link{
    height: 53.57px;
}

.footer-logo{
    width: 150px;
    height: 53.57px;
}

.footer-logo_link:hover,
.footer-logo_link:active{
    cursor: grab;
    opacity:70%;
}

.add-inf{
    width: 194px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.add-inf li{
    list-style-type: none;
    font-size: 1.5rem;
}


/*FOOTER END*/

@media screen and (max-width: 600px) {
    .header {
        background: rgba(166, 127, 80, 0.2);
        height: 46px;
    }

    .header-wrapper {
        height: 46px;
    }

    .burger,
    .basket-link {
        display: block;
    }

    .header-nav {
        display: none;
    }

    .header-logo_link {
        width: 114px;
        height: 27px;
    }

    .header-logo {
        width: 100%;
        height: 27px;
    }

    .cards{
        width: 100%;
        margin: 20px 5.33% 54px;
    }

    .card{
        width: 45.5%;
        margin-bottom: 20px;
    }

    .yarn-img,
    .needle-img,
    .magazin-img{
        width: 100%;
    }

    .card a,
    .card p{
        font-size: 1rem;
    }

    .brand{
        margin: 0;
        line-height: 18.75px;
    }

    .model,
    .price{
        line-height: 20.7px;
    }

    .filters,
    .footer{
        display: none;
    }
}