html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

@font-face {
    font-family: "PT Serif Bold";
    font-style: normal;
    font-weight: 700;
    src: local("PT Serif"),
    url("fonts/PTSerif-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PT Serif BoldItalic";
    font-style: italic;
    font-weight: 700;
    src: local("PT Serif"),
    url("fonts/PTSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Serif Italic";
    font-style: italic;
    font-weight: 400;
    src: local("PT Serif"),
    url("fonts/PTSerif-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    src: local("PT Serif"),
    url("fonts/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans Bold";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans"),
    url("fonts/PTSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans BoldItalic";
    font-style: italic;
    font-weight: 700;
    src: local("PT Sans"),
    url("fonts/PTSans-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans Italic";
    font-style: italic;
    font-weight: 400;
    src: local("PT Sans"),
    url("fonts/PTSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"),
    url("fonts/PTSans-Regular.ttf") format("truetype");
}

body{
    margin: 0;
    background: #F4F1EE;
}

.content-wrapper{
    margin: 0 5.715%;
}


/*HEADER*/
.header{
    width: 100%;
    height: 117px;
    background: 0;
}

.header-wrapper{
    width: available;
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger{
    background: url("assets/burger.svg") 26px 26px;
    width: 26px;
    height: 26px;
    display: none;
}

.burger-menu{
    display: none;
}

.burger-menu{
    position: absolute;
    left: 40px;
    top:10px;
    width: 300px;
    height: 200px;
    border-radius:10px;
    background: #F4F1EE;
    z-index: 3;

}

.burger-active{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.burger-link{
    text-decoration: none;
    font: 1.5em "PT Sans Bold", sans-serif;
    color: #000;
    margin: 10px 0 10px 40px;
}

.burger-link:active{
    color: #6090A6;
}

.header-logo{
    width: 160px;
    height: 57px;
}

.header-logo_link{
    height: 57px;
    margin-left: 6px;
}

.header-logo_link:hover {
    opacity: 70%;
}

.header-nav{
    width: 51%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav_link{
    font-family: "PT Serif", serif;
    color: #000;
    font-size:1.5em;
    line-height: 31.8px;
    text-decoration: none;
}

.active{
    color: #A67F50;

}

.header-nav_link:hover,
.header-nav_link:focus,
.header-nav_link:active{
    color:#A67F50;
    cursor: grab;
}

.basket-link{
    background: url("assets/basket-adaptive.svg") 26px 26px;
    width: 26px;
    height: 26px;
    display: none;
}
/*HEADER END*/

/*MAIN*/
.main-logo{
    font-family: "PT Serif", serif;
    font-size: 1.7rem;
    margin:0 0 30px 0;
    font-weight: 400;
}

.main-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main-form{
    width: 50.81%;
    height: 854px;
    background: #A67F50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 62px 34px 61px 38px;
    font-family: "PT Sans",sans-serif;
    font-size: 1.5rem;
    color: #fff;
}

.form-text{
    margin:0;
}

.main-form_input{
    width: 557px;
    height: 55px;
    border: 2px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
}

#textarea{
    width: 558px;
    height: 150px;
    border: 2px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
}

.main-form button{
    width: 208px;
    height: 58px;
    border: 2px solid #FFFFFF;
    background: 0;
    text-transform: uppercase;
    font-family: "PT Sans",sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin-right: 25px;
}

.main-form button:hover{
    cursor: grab;
    opacity: 50%;
}

.main-content{
    width: 49.19%;
    height: 854px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "PT Sans", sans-serif;
    font-size: 1.5em;
    color:#000;
    padding: 73px 0 0 47px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info img{
    width: 32px;
    height: 32px;
    margin-right: 26px;
}

.info p{
    margin: 0;
}

#phone-contact{
    width: 195px;
    height: 62px;
}


#address-contact{
    width: 350px;
    height: 62px;
}



.map{
    border:0;
    width: 557px;
    height: 427px;
}

.mobile-web-links,
.mobile-form{
    display: none;
}
/*END MAIN*/

/*FOOTER*/

.footer{
    width:100%;
    height: 240px;
    background: #012E42;
    font-family: "PT Sans",sans-serif;
    color: #fff;
    margin-top: 70px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 240px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-nav_link{
    font-family: "PT Sans",sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin-bottom: 17px;
}

.footer-nav_link:first-child{
    font-family: "PT Sans Bold", sans-serif;
}

.footer-nav_link:last-child{
    margin-bottom: 0;
}

.web-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 68px;
}

.web-link{
    width: 60px;
    height: 60px;
    margin-left: 54px;
}

.web-link:first-child{
    margin-left: 0;
}

.web-link:hover{
    opacity: 70%;
}

.footer-nav_link:hover{
    opacity: 70%;
}

#twitter{
    background: url("assets/icon_twit.png");
}

#inst{
    background: url("assets/icon_instagram.png");
}

#facebook{
    background: url("assets/icon_facebook.png");
}

.footer-logo_link{
    height: 53.57px;
}


.footer-logo{
    width: 150px;
    height: 53.57px;
}

.footer-logo_link:hover,
.footer-logo_link:active{
    cursor: grab;
    opacity: 70%;
}

.add-inf{
    width: 194px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.add-inf li{
    list-style-type: none;
    font-size: 1.5rem;
}


/*FOOTER END*/

@media screen and (max-width: 600px) {
    .header {
        background: rgba(166, 127, 80, 0.2);
        height: 46px;
    }

    .header-wrapper {
        height: 46px;
    }

    .burger,
    .basket-link {
        display: block;
    }

    .header-nav {
        display: none;
    }

    .header-logo_link {
        width: 114px;
        height: 27px;
    }

    .main{
        margin-top: 10px;
    }

    .main-wrapper{
        display: block;
    }

    .main-logo{
        font: 1.4em "PT Sans Bold", sans-serif;
    }

    .main-content{
        width: 100%;
        max-height: 425px;
        padding: 0;
        font-size: 1em;
    }

    .info img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    #phone-contact,
    #email-contact{
        width: 130px;
        max-height: 42px;
    }

    #address-contact{
        width: 234px;
        max-height: 42px;
    }

    .map{
        width: 335px;
        height: 224px;
    }

    .mobile-web-links{
        margin-top: 22px;
        display: flex;
        flex-direction: column;
    }

    .mobile-web-links a{
        text-transform: uppercase;
        font: 1em "PT Sans", sans-serif;
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
    }

    .mobile-form{
        display:block;
        margin-top: 27px;
    }

    .mobile-form_text{
        font: 1em "PT Sans Bold";
        text-align: center;
        margin:0 0 10px 0;
    }

    .mobile-form input{
        width:100%;
        height: 36px;
        border: 1px solid #000;
        margin-bottom: 10px;
    }

    .mobile-form_buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    .mobile-form_buttons button{
        width: 155px;
        height: 30px;
        color: #fff;
        background: #A67F50;
        border:0;
    }

    .main-form,
    .footer{
        display: none;
    }

}