html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

@font-face {
    font-family: "PT Serif Bold";
    font-style: normal;
    font-weight: 700;
    src: local("PT Serif"),
    url("fonts/PTSerif-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PT Serif BoldItalic";
    font-style: italic;
    font-weight: 700;
    src: local("PT Serif"),
    url("fonts/PTSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Serif Italic";
    font-style: italic;
    font-weight: 400;
    src: local("PT Serif"),
    url("fonts/PTSerif-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    src: local("PT Serif"),
    url("fonts/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans Bold";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans"),
    url("fonts/PTSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans BoldItalic";
    font-style: italic;
    font-weight: 700;
    src: local("PT Sans"),
    url("fonts/PTSans-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans Italic";
    font-style: italic;
    font-weight: 400;
    src: local("PT Sans"),
    url("fonts/PTSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"),
    url("fonts/PTSans-Regular.ttf") format("truetype");
}

body{
    margin: 0;
    background: #F4F1EE;
}

.content-wrapper{
    margin: 0 5.715%;
}


/*HEADER*/
.header{
    width: 100%;
    height: 117px;
    background: 0;
}

.header-wrapper{
    width: 100%;
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger{
    background: url("assets/burger.svg") 26px 26px;
    width: 26px;
    height: 26px;
    display: none;
}

.burger-menu{
    display: none;
}

.burger-menu{
    position: absolute;
    left: 40px;
    top:10px;
    width: 300px;
    height: 200px;
    border-radius:10px;
    background: #F4F1EE;
    z-index: 3;

}

.burger-active{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.burger-link{
    text-decoration: none;
    font: 1.5em "PT Sans Bold", sans-serif;
    color: #000;
    margin: 10px 0 10px 40px;
}

.burger-link:active{
    color: #6090A6;
}

.header-logo{
    width: 100%;
    height: 57px;
}

.header-logo_link{
    width: 12.9%;
    height: 57px;
    margin-left: 6px;
}

.header-logo_link:hover{
    opacity:70%;
}

.header-nav{
    width: 51%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav_link{
    font-family: "PT Serif", serif;
    color: #000;
    font-size:1.5em;
    line-height: 31.8px;
    text-decoration: none;
}

.header-nav_link:hover,
.header-nav_link:focus,
.header-nav_link:active{
    color:#A67F50;
    cursor: grab;
}

.basket-link{
    background: url("assets/basket-adaptive.svg") 26px 26px;
    width: 26px;
    height: 26px;
    display: none;
}

/*HEADER END*/

/*MAIN*/
.first-block{
    width: 100%;
    border-bottom: 1px solid #000000;
}

.first-wrapper{
    width: 100%;
    max-height: 681px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.main-video{
    width: 93.25%;
    max-height: 596px;
    grid-column: 1/5;
    grid-row: 1/8;
}

.first-text_bg{
    width: 98.19%;
    height: 422px;
    background: #F3E0C9;
    outline: 2px solid #fff;
    outline-offset: -10px;
    border-radius: 10px;
    grid-column: 4/6;
    grid-row: 2/6;
}

.first-text{
    width: 95.89%;
    max-height: 402px;
    /*border: 2px solid #fff;
    border-radius: 10px;*/
    margin: 10px;
    font-family: "PT Sans", sans-serif;
    font-size: 1.5em;
    line-height: 31.06px;
    text-align: center;
    padding: 57px 16px;
}

#block-divider{
    width: 240px;
    height: 48px;
    font-family: "PT Serif", serif;
    font-size: 2.2rem;
    text-align: center;
    background: #F4F1EE;
    position: relative;
    top: 657px;
    right:500px;
    z-index: 1;
    margin: 0;
}

.main-wrapper{
    display: flex;
    margin: 89px 77px 0 29px;
}

.aside{
    width: 276px;
    height: 242px;
    font-family: "PT Sans", sans-serif;
    font-size: 1.5rem;
    /*position: fixed;*/
}

.aside-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.aside-form_input{
    width: 276px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    padding: 2px 0 0 26px;
    font-family: "PT Sans", sans-serif;
    font-size: 1.7rem;
}

.aside-form_button{
    background: rgba(166, 127, 80, 0.5);
    font-family: "PT Sans", sans-serif;
    font-size: 1.5rem;
}

.aside-form_button:hover{
    cursor: grab;
    background: #6090A6;
    color: #fff;
}

#enter{
    width: 104px;
    height: 51px;
    border: 0;
}

#register{
    width: 160px;
    height: 51px;
    border: 0;
}

#follow{
    border-radius: 0;
}

.second-wrapper{
    margin-left: 46px;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(31, 1fr);
}

.yarn-card{
    width: 552px;
    height: 429px;
    background: url("assets/yarn_bg.png");
    grid-column: 1/14;
    grid-row: 1/14;
    background-size: 552px 429px;
    transition: background-size 1.2s;
}

.yarn-card:hover{
    background-size: 592px 469px;
}

.needle-card{
    width: 557px;
    height: 299px;
    background: url("assets/needle_bg.png");
    grid-column: 1/15;
    grid-row: 15/24;
    background-size: 557px 299px;
    transition: background-size 1.2s;
}

.needle-card:hover{
    background-size: 597px 339px;
}

.magazine-card{
    width: 393px;
    height: 492px;
    background: url("assets/magazine_bg.png");
    grid-column: 15/31;
    grid-row: 1/17;
    background-size: 393px 492px;
    transition: background-size 1.2s;
}

.magazine-card:hover{
    background-size: 433px 532px;
}



.second-block_link{
    width: 310px;
    height: 48px;
    text-decoration: none;
    color: #000;
    font: 2.2rem "PT Serif", serif;
    grid-column: 18/30;
    grid-row: 23/25;
}

.second-block_link:hover{
    color: #A67F50;
}

/*MAIN END*/

/*FOOTER*/

.footer{
    width:100%;
    height: 240px;
    background: #012E42;
    font-family: "PT Sans",sans-serif;
    color: #fff;
    margin-top: 70px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 240px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-nav_link{
    font-family: "PT Sans",sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin-bottom: 17px;
}

.footer-nav_link:first-child{
    font-family: "PT Sans Bold", sans-serif;
}

.footer-nav_link:last-child{
    margin-bottom: 0;
}

.footer-nav_link:hover{
    opacity: 70%;
}

.web-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 68px;
}

.web-link{
    width: 60px;
    height: 60px;
    margin-left: 54px;
}

.web-link:first-child{
    margin-left: 0;
}

.web-link:hover{
    opacity: 70%;
}

#twitter{
    background: url("assets/icon_twit.png");
}

#inst{
    background: url("assets/icon_instagram.png");
}

#facebook{
    background: url("assets/icon_facebook.png");
}

.footer-logo_link{
    height: 53.57px;
}


.footer-logo{
    width: 150px;
    height: 53.57px;
}

.footer-logo_link:hover,
.footer-logo_link:active{
    cursor: grab;
    opacity: 70%;
}

.add-inf{
    width: 194px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.add-inf li{
    list-style-type: none;
    font-size: 1.5rem;
}


/*FOOTER END*/


@media screen and (max-width: 600px){
    .header{
        background: rgba(166, 127, 80, 0.2);
        height: 46px;
    }

    .header-wrapper{
        height: 46px;
    }

    .burger,
    .basket-link{
        display: block;
    }


    .header-nav{
        display: none;
    }

    .header-logo_link{
        width: 114px;
        height: 27px;
    }

    .header-logo{
        height: 27px;
    }

    .first-wrapper{
        display: block;
    }

    .first-block .content-wrapper{
        margin: 0;
    }

    .first-text_bg,
    .aside,
    .footer{
        display: none;
    }

    .main-video{
        width: 100%;
    }

    .main-wrapper{
        display: block;
        margin: 30px 20px;
    }

    #block-divider{
        width: 79px;
        height: 21px;
        left: 148px;
        top: 8px;
        font-size: 1rem;
    }

    .second-wrapper{
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .yarn-card,
    .needle-card,
    .magazine-card{
        width: 100%;
        height: 206px;
        background-color: white;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        margin-bottom: 20px;
        transition: none;
    }

    .second-block_link{
        width: 67.5%; /*207px*/
        height: 32px;
        font-size: 1.45rem;
        text-align: right;
    }
}